html, body { /*Necessário pro background funcionar*/
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/*--------INICIO ESTILIZACAO DA NAVBAR OU HEADER----------*/

.navb{
    position: fixed;
    margin: 0;
    padding: 30px 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 1;
    list-style-type: none;
    transition: 0.4s;
    width: 100%;
}

.stickynav {
    padding: 0;
}

.topbar {
    display: block;
    width: 100%;
}

.multi {
    display: flex;
    float: right;
    flex-flow: row wrap;
    font-family: 'Quicksand', sans-serif;
}
.multi li {
    padding: 25px 10px 20px 20px;
}
  
.navb a {
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

}

.multi #active{
    color: #2e5aea;
}
.multi a:hover:not(#active) {
    color: #cd2e3a;
    font-weight:bold;
}

.lg {
    float: left;
    font-family: 'Baloo Bhai', cursive;
    font-size: 40px;
    padding-left: 40px;
    transition: 0.4s;
}

.stickylogo {
    font-size: 22px;
}

#logo{
    width:250px;
    height:auto;
    margin-top:5px;
    margin-left:1%;
    padding-bottom:0;
    float:left;
    
}

/*----------------AQUI SÓ VOU POSICIONAR DIRETINHO AS OPÇÕES DA NAVBAR (header)-----------------*/
.multi{
    padding-right: 40px;
}

.navb .icon{
    display: none;
}


/*--------FIM ESTILIZACAO DA NAVBAR OU HEADER----------*/

/*-------COMEÇO ESTILO RODAPÉ---------*/
footer{
    position: relative;
    bottom: -200px;
    right: 0;
    background-color: #5c6370;
    width: 100%;
    height: 140px;
    margin-top: 20px;
}

footer .logo{
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    margin-left: 34px;
    padding-top: 30px;
}

/*---------------OBS.: AQUI FIZ UMA PEQUENA GAMBIARRA PRA POSICIONAR MAS TÁ DE BOA-------------------*/
footer #copyright{
    position: absolute;
    top: 60px;
    left: 34px;
}

footer .icon{
    height: 25px;
    width: 25px;
    float: right;
    padding-right: 30px;
    position: relative;
    bottom: 20px;
}
/*-------FIM ESTILO RODAPÉ------------*/


/*-------ESTILO BODY--------*/
#contato{
    width: 100%;
    text-align: left;
    padding-top:13%;
}
#formulario{
    border: 2px solid #00BFFF;
    width:40%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
#mensagem{
    height:300px;
    width:90%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top:5px;
    resize:none;
    border-radius: 5px;
}
.singleline{
    padding:1px;
    margin-top:5px;
    margin-bottom:5px;
}

input[type=submit] {
    background-color: #00BFFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    margin-left:78%;
}
input[type=submit]:hover {
  background-color: #1E90FF;
}
#titulo{
    font-family: 'Montserrat', sans-serif;
    text-align:center;
}
#texto{
    width:40%;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    margin-left:30%;
    margin-bottom:2%;
}

/*------FIM ESTILO BODY-------*/
