html, body { /*Necessário pro background funcionar*/
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*fontes do site, procurar outras depois*/
    padding-right: -10px;
}

/*--------INICIO ESTILIZACAO DA NAVBAR OU HEADER----------*/

#navbar ul{
    height: 100px;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    width: 90%;
    margin-left: 50px;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 36px 24px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #cd2e3a;
}
#active {
    color: #00479b;
}

.logo {
    float: left;
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
}

/*----------------AQUI SÓ VOU POSICIONAR DIRETINHO AS OPÇÕES DA NAVBAR-----------------*/
#navbar .multi{
    position: relative;
    right: 10px;
    bottom: -37px;
    border-right: 2px solid;
}

/*--------FIM ESTILIZACAO DA NAVBAR OU HEADER----------*/


/*----------IMAGEM DE FUNDO----------*/
.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../css/bg_img.jpg");
    background-position: top center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
}

/*---------TEXTO SOBRE A IMAGEM DE FUNDO-----------*/ 
#big-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /*font-size: 100pt;  AINDA NAO ACHEI UM TAMANHO DECENTE*/
}

/*-----INICIO ESTILO RODAPÉ------*/
footer{
    position: relative;
    background-color: #5c6370;
    width: 100%;
    height: 140px;
    margin-top: 20px;
}

footer .logo{
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    margin-left: 34px;
}

/*---------------OBS.: AQUI FIZ UMA PEQUENA GAMBIARRA PRA POSICIONAR MAS TÁ DE BOA-------------------*/
footer #copyright{
    position: absolute;
    top: 60px;
    left: 34px;
}
/*------FIM ESTILO RODAPÉ------*/


/*-----ESTILO RESTO DO BODY-----*/

#servicos_oferecidos{
    margin-top: 50px;
    height: 400px;
    display: block;
}
#servicos_oferecidos h1{
    text-align: center;
}
#servicos_oferecidos img{
    height: 185px;
    width: 220px;
    margin-left: 60px;
    border-radius: 5px 20px;
}
#servicos_oferecidos ul{
    position: relative;
    right: 250px;
    padding-top: 40px;
    list-style-type: none;
}
#servicos_oferecidos img{
    border: 2px solid;
}
#servicos_oferecidos figcaption{
    text-align: center;
    padding-left: 40px;

}





/*-----FIM ESTILO BODY-----*/

@media screen and (min-width: 1080px){
    .bg{
        background-size: 100% 100%;
    }
}