html, body { /*Necessário pro background funcionar*/
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

/*--------INICIO ESTILIZACAO DA NAVBAR OU HEADER----------*/

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 35px 10px;
    overflow: hidden;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    z-index: 1;
}
  
li {
    float: right;
}
  
li a {
    color: black;
    text-align: center;
    padding: 0px 24px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #cd2e3a;
}
#active {
    color: #00479b;
}

.logo {
    float: left;
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
}

/*----------------AQUI SÓ VOU POSICIONAR DIRETINHO AS OPÇÕES DA NAVBAR-----------------*/
#navbar .multi{
    position: relative;
    right: 10px;
    bottom: -15px;
}

/*--------FIM ESTILIZACAO DA NAVBAR OU HEADER----------*/


/*----------IMAGEM DE FUNDO----------*/
.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../css/bg_img.jpg");
    background-position: top center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
}

/*---------TEXTO SOBRE A IMAGEM DE FUNDO-----------*/ 
#big-text{
    text-align: center;
    word-spacing: 10px;
    letter-spacing: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    width: 80%
}
  
/*------------TEXTO ABAIXO DA IMAGEM DE FUNDO----------*/
#mais-texto{
    text-align: center;
    position: relative;
}

/*-----INICIO ESTILO RODAPÉ------*/
footer{
    position: absolute;
    background-color: #5c6370;
    width: 100%;
    height: 140px;
}

footer .logo{
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    margin-left: 34px;
}

/*---------------OBS.: AQUI FIZ UMA PEQUENA GAMBIARRA PRA POSICIONAR MAS TÁ DE BOA-------------------*/
footer #copyright{
    position: absolute;
    top: 60px;
    left: 34px;
}
/*------FIM ESTILO RODAPÉ------*/

@media screen and (min-width: 1080px){
    .bg{
        background-size: 100% 100%;
    }
}