html, body { /*Necessário pro background funcionar*/
    height: 100%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*fontes do site, procurar outras depois*/
}

/*--------ESTILIZACAO DA NAVBAR----------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 100%;
}
  
li {
    float: right;
}
  
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 36px 24px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    color: #cd2e3a;
}
#active {
    color: #00479b;
}

#logo {
    float: left;
}

/*----------IMAGEM DE FUNDO----------*/
.bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../css/bg_img.jpg");
    background-position: top center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    z-index: -1;
}

@media screen and (min-width: 1080px){
    .bg{
        background-size: 100% 100%;
    }
}

/*---------TEXTO SOBRE A IMAGEM DE FUNDO-----------*/ 
#big-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /*font-size: 100pt;  AINDA NAO ACHEI UM TAMANHO DECENTE*/
}
  
/*------------TEXTO ABAIXO DA IMAGEM DE FUNDO----------*/
#mais-texto{
    text-align: center;
    position: relative;
}