html, body { /*Necessário pro background funcionar*/
    height: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/*--------INICIO ESTILIZACAO DA NAVBAR OU HEADER----------*/

.navb{
    position: fixed;
    margin: 0;
    padding: 30px 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
    list-style-type: none;
    transition: 0.4s;
    width: 100%;
}

.stickynav {
    padding: 0;
}

.topbar {
    display: block;
    width: 100%;
}

.multi {
    display: flex;
    float: right;
    flex-flow: row wrap;
    font-family: 'Quicksand', sans-serif;
}
.multi li {
    padding: 25px 10px 20px 20px;
}
  
.navb a {
    color: black;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;

}

.multi #active{
    color: #2e5aea;
}
.multi a:hover:not(#active) {
    color: #cd2e3a;
    font-weight:bold;
}

.lg {
    float: left;
    font-family: 'Baloo Bhai', cursive;
    font-size: 40px;
    transition: 0.4s;
}
#logo{
    width:250px;
    height:auto;
    margin-top:5px;
    margin-left:1%;
    padding-bottom:0;
    float:left;
    padding-left: 40px;
}
#logo img{
    margin-top:7px;
    width:250px;
    height:auto;
    
}

/*----------------AQUI SÓ VOU POSICIONAR DIRETINHO AS OPÇÕES DA NAVBAR (header)-----------------*/
.multi{
    padding-right: 40px;
}

.navb .icon{
    display: none;
}


/*--------FIM ESTILIZACAO DA NAVBAR OU HEADER----------*/

/*-------COMEÇO ESTILO RODAPÉ---------*/
footer{
    position: relative;
    bottom: -200px;
    right: 0;
    background-color: #5c6370;
    width: 100%;
    height: 140px;
    margin-top: 20px;
}

footer .logo{
    font-family: 'Baloo Bhai', cursive;
    font-size: 30px;
    margin-left: 34px;
    padding-top: 30px;
}

/*---------------OBS.: AQUI FIZ UMA PEQUENA GAMBIARRA PRA POSICIONAR MAS TÁ DE BOA-------------------*/
footer #copyright{
    position: absolute;
    top: 60px;
    left: 34px;
}

footer .icon{
    height: 25px;
    width: 25px;
    float: right;
    padding-right: 30px;
    position: relative;
    bottom: 20px;
}
/*-------FIM ESTILO RODAPÉ------------*/



/*-------ESTILO BODY--------*/
.sobre{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding-top:10%;
    padding-right:10%;
    font-family: 'Montserrat', sans-serif;
}
#annyeong{
    float:right;
    width:100px;
    height:auto;
    margin:0;
    padding-top:50px;
}



/*------FIM ESTILO BODY-------*/

@media screen and (max-width: 1080px){

/*----------------NAVBAR MOBILE----------------*/    
    .navb .icon{
        position: absolute;
        display: block;
        float: left;
        width: 32px;
        height: 32px;
        padding: 16px;
    }
    .navb {
        position: absolute;
        background-color: white;
    }
    .navb .multi {
        display: none;
    }

    .navb .lg{
        padding: 0px;
        width: 100%;
    }

    #logo {
        display: block;
        margin: 0 auto;
        float: none;
    }

    .navb.mobnav .multi{
        display: block;
        padding: 0;
        width: 100%;
    }

/*-----------Conteudo Mobile----------------*/

    .sobre{
        width: 100%;
        padding: 0 5%; 
    }

}

